:root {
    /* Formato de Fuentes */
    --font-one: "Roboto";
    --font-two: "Serif";
    /* Formato de Colores */
    --colour-one: #0000ff;
    --colour-two: brown;
    --colour-three: bisque;
    --colour-four: aqua;
    --colour-five: #bcc1e3;
    /* Formato de Tamaños */
    --small: 50px;
    --medium: 240px;
    --large: 400px;
    --small-rem: 2rem;
    --medium-rem: 5rem;
    --large-rem: 10rem;
}

* {
    font-family: var(--font-one);
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    color: var(--colour-one);
}

.parrafo {
    width: calc(var(--small) + 30px);
    height: calc(var(--small) - 20px);
    background-color: var(--colour-four);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.padre {
    background-color: var(--colour-four);
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}

.hijo {
    background-color: var(--colour-two);
    height: 50px;
    width: 50px;
    margin: .5rem;
    padding: .5rem;
}

.hijo img {
    height: 50px;
    width: 50px;
}

.hijo {
    background-color: var(--colour-one);
}

#primer-hijo {
    background-color: rgb(174, 174, 242);
}

ol,
ul {
    margin: var(--small);
}

ol li {
    font-family: var(--font-two);
}

ol li p {
    color: var(--colour-one);
}

ul li {
    list-style: none;
}

ul li p {
    color: var(--colour-two);
    line-height: 2rem;
}

.enlaces {
    margin: var(--small);
}

.enlaces p {
    color: var(--colour-one);
}

.enlaces a {
    color: var(--colour-one);
    text-decoration: none;
}

/* .imagen-back{
    background-color: var(--colour-three);
    background-image: url("https://avatars.githubusercontent.com/u/88512335?v=4"); 
    background-repeat: repeat;   
    background-size: cover;
    height: 520px;
    width: 400px;
} */

.imagen-back p {
    color: var(--colour-one);
    padding: .5rem;
    line-height: 1.6rem;
}

/* BEM */

.navbar{
    height: 60px;
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--colour-one), var(--colour-five));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navbar__a{
    color: var(--colour-three);
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #000000 ;
}

.titulo {    
    height: 100px;   
    margin-top: 160px;
}

.titulo__h1{    
    font-family: var(--font-two);
    font-size: calc(var(--medium-rem)/3);
    color: var(--colour-two);
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.card{
    width: var(--medium);   
    height: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin: 16px;
    border: 1px solid var(--colour-two);
    border-radius: 16px;    
}

.card__image{
    width: calc(100% - 8px);    
    border-radius: 40% 40% 10% 10%;
    box-shadow: 4px 4px 12px #8d8d8d;
    margin-bottom: 16px;
}

/* .sin-stock{
    filter: grayscale(1);
} */
.sin-stock{
    filter: sepia(0.9);
}
.card__tittle, 
.card__description{
    margin-bottom: 8px;
}

.card__tittle{
    color: var(--colour-one);    
}

.card__description{
    color: var(--colour-two);
    height: 60px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.card__button{
    background-color: var(--colour-one);
    border: 1px solid var(--colour-one);
    border-radius: 8px;
    width: calc(100% - 8px);
    height: 40px;
    color: var(--colour-three);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 800; 
    cursor: pointer;
    box-shadow: 4px 4px 8px #3f3f3f;
}

.card__button:hover{
    background-color: var(--colour-three);
    border: 1px solid var(--colour-three);
    color: var(--colour-one);
    box-shadow: none;
}

.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--colour-four);
}

.footer__parrafo{
    color: var(--colour-one);
}

.footer__parrafo p a{
    text-decoration: none;
    color: var(--colour-one);
}

/* Llamar imagen Externa */
/* .paralax{
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipP0Jlbw64ftQUA9g8eAg2tozDIMBqr_zyVtB14L=w1080-h608-p-no-v0");
    height: 608px;
    background-position:top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
} */

/* Llamar imagen Interna */
.paralax{
    background-image: url("../img/fondo.png");
    height: 608px;
    background-position:top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}
.transformaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.cuadrado{
    width: 50px;
    height: 50px;
    background-color: var(--colour-one);
}

/* Translacion */
/* .transformado{
    background-color: var(--colour-five);
    transform: translate(-20px, -20px);
} */

/* Rotacion */

/* .transformado{
    background-color: var(--colour-five);
    transform: rotate(-30deg);
} */

/* Escalar */
.transformado{
    background-color: var(--colour-five);    
}

/* 
.transformado:hover{
    transform: scale(1.5);
    border-radius: 4px;
} */


/* Sesgado */
.transformado:hover{
    transform: skew(20deg , 10deg);
}