:root{
    /* Formato de Fuentes */
    --font-one: "Roboto";
    --font-two: "Serif" ;
    /* Formato de Colores */
    --colour-one: #0000ff;
    --colour-two: brown;
    --colour-tree: bisque;
    --colour-four: aqua;
    /* Formato de Tamaños */
    --small: 50px;
    --medium: 200px;
    --large: 400px;
    --small-rem:2rem;
    --medium-rem: 5rem;
    --large-rem: 10rem;
}

*{
    font-family: var(--font-one);  
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

h1{
    text-align: center;
    color: var(--colour-one);
}

.titulo{
    color: var(--colour-two);
    background-color: var(--colour-tree);   
    font-family: var(--font-two);
    font-size: calc(var(--medium-rem)/2);
}

.parrafo{
    width: calc(var(--small) + 30px);
    height: calc(var(--small) - 20px);
    background-color: var(--colour-four);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;    
}

.padre{
    background-color: var(--colour-four);
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content:space-evenly;
    align-items: center;
    font-size: 2rem;
}

.hijo{
    background-color: var(--colour-two);
    height: 50px;
    width: 50px;   
    margin: .5rem;
    padding: .5rem;
}

.hijo img{
    height: 50px;
    width: 50px;
}

.hijo{
    background-color: var(--colour-one);
}

#primer-hijo{
    background-color: rgb(174, 174, 242);
}

ol, ul{
    margin: var(--small);   
}

ol li{
    font-family: var(--font-two);      
}

ol li p{
    color: var(--colour-one);
}
ul li{
    list-style: none;
}
ul li p{
    color: var(--colour-two);
    line-height: 2rem;
}

.enlaces{
    margin: var(--small);
}
.enlaces p{
    color: var(--colour-one);
}

.enlaces a{    
    color: var(--colour-one);
    text-decoration: none;
}

.imagen-back{
    background-color: var(--colour-tree);
    background-image: url("https://avatars.githubusercontent.com/u/88512335?v=4"); 
    background-repeat: no-repeat;   
    background-size: cover;
    height: 520px;
}

.imagen-back p{
    color: var(--colour-one);
    padding: .5rem;
    line-height: 1.6rem;
}